In [16]:
import requests
import json
import zipfile, io
import pandas as pd
import folium
import os

Define the APIs and data locations.  
Set a function to be able to print the responses in a nice format.

In [12]:
DATA_PATH = '../data'
RAW_DATA_PATH = os.path.join(DATA_PATH, 'raw')
INT_DATA_PATH = os.path.join(RAW_DATA_PATH,'intermediate')

TFL_API = 'https://api.tfl.gov.uk'
STATION_DATA_API = TFL_API + '/stationdata/tfl-stationdata-detailed.zip'
SHPBUM_STATION_QUERY =  TFL_API +'/Stoppoint/Search/Shepherd?modes=tube'
STOPPOINT_TYPES =  TFL_API +'/StopPoint/Meta/StopTypes'
SHPBUM_ARRIVALS =  TFL_API +'/StopPoint/940GZZLUSBM/Arrivals'

def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys=True, indent=2)
    print(text)

# Get Shepherd's Bush Market Arrivals

In [6]:
response = requests.get(SHPBUM_ARRIVALS)
print(response.status_code)

200

In [7]:
jprint(response.json())

[
  {
    "$type": "Tfl.Api.Presentation.Entities.Prediction, Tfl.Api.Presentation.Entities",
    "bearing": "",
    "currentLocation": "At Hammersmith Platform 1",
    "destinationName": "Edgware Road (Circle Line) Underground Station",
    "destinationNaptanId": "940GZZLUERC",
    "direction": "outbound",
    "expectedArrival": "2023-05-07T10:32:56Z",
    "id": "-1952687116",
    "lineId": "circle",
    "lineName": "Circle",
    "modeName": "tube",
    "naptanId": "940GZZLUSBM",
    "operationType": 1,
    "platformName": "Eastbound - Platform 1",
    "stationName": "Shepherd's Bush Market Underground Station",
    "timeToLive": "2023-05-07T10:32:56Z",
    "timeToStation": 443,
    "timestamp": "2023-05-07T10:25:33.1801317Z",
    "timing": {
      "$type": "Tfl.Api.Presentation.Entities.PredictionTiming, Tfl.Api.Presentation.Entities",
      "countdownServerAdjustment": "00:00:00",
      "insert": "0001-01-01T00:00:00",
      "read": "2023-05-07T10:25:47.447Z",
      "received": "0001-01-01T00:00:00",
      "sent": "2023-05-07T10:25:33Z",
      "source": "0001-01-01T00:00:00"
    },
    "towards": "Edgware Road (Circle)",
    "vehicleId": "213"
  },
  {
    "$type": "Tfl.Api.Presentation.Entities.Prediction, Tfl.Api.Presentation.Entities",
    "bearing": "",
    "currentLocation": "At Wood Lane Platform 2",
    "destinationName": "Hammersmith (H&C Line) Underground Station",
    "destinationNaptanId": "940GZZLUHSC",
    "direction": "inbound",
    "expectedArrival": "2023-05-07T10:26:26Z",
    "id": "1074577079",
    "lineId": "hammersmith-city",
    "lineName": "Hammersmith & City",
    "modeName": "tube",
    "naptanId": "940GZZLUSBM",
    "operationType": 1,
    "platformName": "Westbound - Platform 2",
    "stationName": "Shepherd's Bush Market Underground Station",
    "timeToLive": "2023-05-07T10:26:26Z",
    "timeToStation": 53,
    "timestamp": "2023-05-07T10:25:33.1801317Z",
    "timing": {
      "$type": "Tfl.Api.Presentation.Entities.PredictionTiming, Tfl.Api.Presentation.Entities",
      "countdownServerAdjustment": "00:00:00",
      "insert": "0001-01-01T00:00:00",
      "read": "2023-05-07T10:25:47.447Z",
      "received": "0001-01-01T00:00:00",
      "sent": "2023-05-07T10:25:33Z",
      "source": "0001-01-01T00:00:00"
    },
    "towards": "Hammersmith",
    "vehicleId": "214"
  },
  {
    "$type": "Tfl.Api.Presentation.Entities.Prediction, Tfl.Api.Presentation.Entities",
    "bearing": "",
    "currentLocation": "Between Edgware Road and Paddington",
    "destinationName": "Hammersmith (H&C Line) Underground Station",
    "destinationNaptanId": "940GZZLUHSC",
    "direction": "inbound",
    "expectedArrival": "2023-05-07T10:35:56Z",
    "id": "-445970164",
    "lineId": "hammersmith-city",
    "lineName": "Hammersmith & City",
    "modeName": "tube",
    "naptanId": "940GZZLUSBM",
    "operationType": 1,
    "platformName": "Westbound - Platform 2",
    "stationName": "Shepherd's Bush Market Underground Station",
    "timeToLive": "2023-05-07T10:35:56Z",
    "timeToStation": 623,
    "timestamp": "2023-05-07T10:25:33.1801317Z",
    "timing": {
      "$type": "Tfl.Api.Presentation.Entities.PredictionTiming, Tfl.Api.Presentation.Entities",
      "countdownServerAdjustment": "00:00:00",
      "insert": "0001-01-01T00:00:00",
      "read": "2023-05-07T10:25:47.447Z",
      "received": "0001-01-01T00:00:00",
      "sent": "2023-05-07T10:25:33Z",
      "source": "0001-01-01T00:00:00"
    },
    "towards": "Hammersmith",
    "vehicleId": "215"
  },
  {
    "$type": "Tfl.Api.Presentation.Entities.Prediction, Tfl.Api.Presentation.Entities",
    "bearing": "",
    "currentLocation": "Approaching Kings Cross St. Pancras Platform 1",
    "destinationName": "Hammersmith (H&C Line) Underground Station",
    "destinationNaptanId": "940GZZLUHSC",
    "direction": "inbound",
    "expectedArrival": "2023-05-07T10:45:56Z",
    "id": "-2034006551",
    "lineId": "hammersmith-city",
    "lineName": "Hammersmith & City",
    "modeName": "tube",
    "naptanId": "940GZZLUSBM",
    "operationType": 1,
    "platformName": "Westbound - Platform 2",
    "stationName": "Shepherd's Bush Market Underground Station",
    "timeToLive": "2023-05-07T10:45:56Z",
    "timeToStation": 1223,
    "timestamp": "2023-05-07T10:25:33.1801317Z",
    "timing": {
      "$type": "Tfl.Api.Presentation.Entities.PredictionTiming, Tfl.Api.Presentation.Entities",
      "countdownServerAdjustment": "00:00:00",
      "insert": "0001-01-01T00:00:00",
      "read": "2023-05-07T10:25:47.447Z",
      "received": "0001-01-01T00:00:00",
      "sent": "2023-05-07T10:25:33Z",
      "source": "0001-01-01T00:00:00"
    },
    "towards": "Hammersmith",
    "vehicleId": "216"
  },
  {
    "$type": "Tfl.Api.Presentation.Entities.Prediction, Tfl.Api.Presentation.Entities",
    "bearing": "",
    "currentLocation": "At Westbourne Park Platform 1",
    "destinationName": "Hammersmith (H&C Line) Underground Station",
    "destinationNaptanId": "940GZZLUHSC",
    "direction": "inbound",
    "expectedArrival": "2023-05-07T10:30:56Z",
    "id": "1476943072",
    "lineId": "hammersmith-city",
    "lineName": "Hammersmith & City",
    "modeName": "tube",
    "naptanId": "940GZZLUSBM",
    "operationType": 1,
    "platformName": "Westbound - Platform 2",
    "stationName": "Shepherd's Bush Market Underground Station",
    "timeToLive": "2023-05-07T10:30:56Z",
    "timeToStation": 323,
    "timestamp": "2023-05-07T10:25:33.1801317Z",
    "timing": {
      "$type": "Tfl.Api.Presentation.Entities.PredictionTiming, Tfl.Api.Presentation.Entities",
      "countdownServerAdjustment": "00:00:00",
      "insert": "0001-01-01T00:00:00",
      "read": "2023-05-07T10:25:47.447Z",
      "received": "0001-01-01T00:00:00",
      "sent": "2023-05-07T10:25:33Z",
      "source": "0001-01-01T00:00:00"
    },
    "towards": "Hammersmith",
    "vehicleId": "261"
  },
  {
    "$type": "Tfl.Api.Presentation.Entities.Prediction, Tfl.Api.Presentation.Entities",
    "bearing": "",
    "currentLocation": "Between Moorgate and Barbican",
    "destinationName": "Hammersmith (H&C Line) Underground Station",
    "destinationNaptanId": "940GZZLUHSC",
    "direction": "inbound",
    "expectedArrival": "2023-05-07T10:50:56Z",
    "id": "-1629543462",
    "lineId": "hammersmith-city",
    "lineName": "Hammersmith & City",
    "modeName": "tube",
    "naptanId": "940GZZLUSBM",
    "operationType": 1,
    "platformName": "Westbound - Platform 2",
    "stationName": "Shepherd's Bush Market Underground Station",
    "timeToLive": "2023-05-07T10:50:56Z",
    "timeToStation": 1523,
    "timestamp": "2023-05-07T10:25:33.1801317Z",
    "timing": {
      "$type": "Tfl.Api.Presentation.Entities.PredictionTiming, Tfl.Api.Presentation.Entities",
      "countdownServerAdjustment": "00:00:00",
      "insert": "0001-01-01T00:00:00",
      "read": "2023-05-07T10:25:47.447Z",
      "received": "0001-01-01T00:00:00",
      "sent": "2023-05-07T10:25:33Z",
      "source": "0001-01-01T00:00:00"
    },
    "towards": "Hammersmith",
    "vehicleId": "263"
  }
]

# Station Data Files
Get files from the station data API and store in the raw data folder.

In [17]:
#Only store if no files are in the folder
station_output_folder = os.path.join(RAW_DATA_PATH, 'StationDataOutput')
if len(os.listdir(station_output_folder) == 0):
    r = requests.get(STATION_DATA_API)
    z = zipfile.ZipFile(io.BytesIO(r.content))
    z.extractall(station_output_folder)

Import some of the files

In [18]:
modes_and_lines = pd.read_csv(RAW_DATA_PATH + 'ModesAndLines.csv')
station_points = pd.read_csv(RAW_DATA_PATH + 'StationPoints.csv')
stations = pd.read_csv(RAW_DATA_PATH + 'Stations.csv')

In [19]:
modes_and_lines.head(5)

           Mode               Name
0      cableCar   london-cable-car
1           dlr                dlr
2  nationalRail         thameslink
3  nationalRail      national-rail
4    overground  london-overground

In [20]:
stations.head(5)

,UniqueId,Name,FareZones,HubNaptanCode,Wifi,OutsideStationUniqueId,BlueBadgeCarParking,BlueBadgeCarParkSpaces,TaxiRanksOutsideStation,MainBusInterchange,PierInterchange,NationalRailInterchange,AirportInterchange,EmiratesAirLineInterchange
0,HUBABW,Abbey Wood,4,HUBABW,False,HUBABW-Outside,False,NaN,False,NaN,NaN,NaN,NaN,NaN
1,910GACTNCTL,Acton Central,3,NaN,True,910GACTNCTL-Outside,False,NaN,False,NaN,NaN,NaN,NaN,NaN
2,910GACTONML,Acton Main Line,3,NaN,False,910GACTONML-Outside,False,NaN,False,NaN,NaN,NaN,NaN,NaN
3,910GANERLEY,Anerley,4,NaN,True,910GANERLEY-Outside,False,NaN,False,NaN,NaN,NaN,NaN,NaN
4,910GBCKNHMH,Beckenham Hill,4,NaN,False,910GBCKNHMH-Outside,False,NaN,False,NaN,NaN,NaN,NaN,NaN

In [21]:
stations.columns

Index(['UniqueId', 'Name', 'FareZones', 'HubNaptanCode', 'Wifi',
       'OutsideStationUniqueId', 'BlueBadgeCarParking',
       'BlueBadgeCarParkSpaces', 'TaxiRanksOutsideStation',
       'MainBusInterchange', 'PierInterchange', 'NationalRailInterchange',
       'AirportInterchange', 'EmiratesAirLineInterchange'],
      dtype='object')

In [22]:
station_points.head(5)

,UniqueId,StationUniqueId,AreaName,AreaId,Level,Lat,Lon,FriendlyName
0,910GACTNCTL-1001002-AC-3,910GACTNCTL,AC,3,0,51.50862,-0.26351,AC
1,910GACTNCTL-1001002-Bus-1,910GACTNCTL,Bus,1,0,51.50651,-0.26372,Bus
2,910GACTNCTL-1001002-ENTR-7,910GACTNCTL,ENTR,7,0,51.50892,-0.26260,ENTR
3,910GACTNCTL-1001002-RLY-4,910GACTNCTL,RLY,4,1,51.50865,-0.26293,RLY
4,910GACTNCTL-1001002-RPL-2,910GACTNCTL,RPL,2,1,51.50865,-0.26306,RPL

In [23]:
station_points.columns

Index(['UniqueId', 'StationUniqueId', 'AreaName', 'AreaId', 'Level', 'Lat',
       'Lon', 'FriendlyName'],
      dtype='object')

In [24]:
st_cols = ['UniqueId', 'Name', 'FareZones']
stpts_cols = ['StationUniqueId', 'AreaName', 'AreaId', 'Level', 'Lat', 'Lon', 'FriendlyName']
st_all = pd.merge(stations[st_cols],station_points[stpts_cols], left_on='UniqueId', right_on='StationUniqueId')
st_all.drop(['UniqueId','StationUniqueId'], axis=1, inplace=True)
st_all

,Name,FareZones,AreaName,AreaId,Level,Lat,Lon,FriendlyName
0,Abbey Wood,4,Bus,5,1,51.49238,0.12128,Bus
1,Abbey Wood,4,EL EB,8,0,51.49128,0.12109,EL EB
2,Abbey Wood,4,EL WB,9,0,51.49122,0.12108,EL WB
3,Abbey Wood,4,FELIX,6,0,51.49143,0.12007,FELIX
4,Abbey Wood,4,HARRO,2,1,51.49163,0.12185,HARRO
...,...,...,...,...,...,...,...,...
3878,Barking Riverside,4,FCEnt,3,0,51.51935,0.11663,FCEnt
3879,Barking Riverside,4,RLY,5,0,51.51981,0.11653,RLY
3880,Barking Riverside,4,RPL-1,4,1,51.52052,0.11691,RPL-1
3881,Barking Riverside,4,RPL-2,2,1,51.52076,0.11692,RPL-2
3882,Barking Riverside,4,RREnt,1,0,51.51953,0.11596,RREnt

In [26]:
st_all['AreaName'].value_counts().to_csv('area_names')

Bus      372
MET      269
BookH    232
RLY      190
Entr      99
        ...
A-K-E      1
A-BAT      1
A-SHO      1
B-K-N      1
RREnt      1
Name: AreaName, Length: 1185, dtype: int64

In [68]:
st_all[['Name','Lat','Lon']].groupby('Name').mean().reset_index()

                 Name        Lat       Lon
0          Abbey Road  51.532377  0.003720
1          Abbey Wood  51.491309  0.121233
2       Acton Central  51.508366 -0.263111
3     Acton Main Line  51.517070 -0.267873
4          Acton Town  51.502984 -0.280167
..                ...        ...       ...
500   Woodgrange Park  51.549260  0.044200
501          Woodside  51.387410 -0.064697
502     Woodside Park  51.617900 -0.185438
503          Woolwich  51.491890  0.070613
504  Woolwich Arsenal  51.490430  0.068887

[505 rows x 3 columns]

In [10]:
COORDS = (51.505742,-0.108622)
map = folium.Map(location=COORDS, zoom_start=12.58)

In [73]:
for row in st_all[['Name','Lat','Lon']].groupby('Name').mean().iterrows():
    print(row[1])

Lat    51.532377
Lon     0.003720
Name: Abbey Road, dtype: float64
Lat    51.491309
Lon     0.121233
Name: Abbey Wood, dtype: float64
Lat    51.508366
Lon    -0.263111
Name: Acton Central, dtype: float64
Lat    51.517070
Lon    -0.267873
Name: Acton Main Line, dtype: float64
Lat    51.502984
Lon    -0.280167
Name: Acton Town, dtype: float64
Lat    51.356465
Lon    -0.032435
Name: Addington Village, dtype: float64
Lat    51.379897
Lon    -0.073132
Name: Addiscombe, dtype: float64
Lat    51.514099
Lon    -0.075446
Name: Aldgate, dtype: float64
Lat    51.515457
Lon    -0.071142
Name: Aldgate East, dtype: float64
Lat    51.511010
Lon    -0.012936
Name: All Saints, dtype: float64
Lat    51.540670
Lon    -0.299382
Name: Alperton, dtype: float64
Lat    51.674039
Lon    -0.607539
Name: Amersham, dtype: float64
Lat    51.382203
Lon    -0.123650
Name: Ampere Way, dtype: float64
Lat    51.412380
Lon    -0.065581
Name: Anerley, dtype: float64
Lat    51.532376
Lon    -0.105929
Name: Angel, dtype: float64
Lat    51.565254
Lon    -0.134866
Name: Archway, dtype: float64
Lat    51.390372
Lon    -0.057735
Name: Arena, dtype: float64
Lat    51.616232
Lon    -0.133390
Name: Arnos Grove, dtype: float64
Lat    51.558474
Lon    -0.106270
Name: Arsenal, dtype: float64
Lat    51.406845
Lon    -0.049180
Name: Avenue Road, dtype: float64
Lat    51.522695
Lon    -0.157188
Name: Baker Street, dtype: float64
Lat    51.44345
Lon    -0.15273
Name: Balham, dtype: float64
Lat    51.512891
Lon    -0.088838
Name: Bank, dtype: float64
Lat    51.520063
Lon    -0.098381
Name: Barbican, dtype: float64
Lat    51.539801
Lon     0.080633
Name: Barking, dtype: float64
Lat    51.519994
Lon     0.116590
Name: Barking Riverside, dtype: float64
Lat    51.585924
Lon     0.088083
Name: Barkingside, dtype: float64
Lat    51.490410
Lon    -0.213741
Name: Barons Court, dtype: float64
Lat    51.480022
Lon    -0.141732
Name: Battersea Power Station, dtype: float64
Lat    51.512395
Lon    -0.187870
Name: Bayswater, dtype: float64
Lat    51.424564
Lon    -0.016047
Name: Beckenham Hill, dtype: float64
Lat    51.410700
Lon    -0.026355
Name: Beckenham Junction, dtype: float64
Lat    51.409383
Lon    -0.043337
Name: Beckenham Road, dtype: float64
Lat    51.514445
Lon     0.060810
Name: Beckton, dtype: float64
Lat    51.508960
Lon     0.054926
Name: Beckton Park, dtype: float64
Lat    51.540303
Lon     0.127277
Name: Becontree, dtype: float64
Lat    51.388850
Lon    -0.141747
Name: Beddington Lane, dtype: float64
Lat    51.400543
Lon    -0.178480
Name: Belgrave Walk, dtype: float64
Lat    51.433092
Lon    -0.019628
Name: Bellingham, dtype: float64
Lat    51.550423
Lon    -0.164641
Name: Belsize Park, dtype: float64
Lat    51.497936
Lon    -0.063899
Name: Bermondsey, dtype: float64
Lat    51.526406
Lon    -0.056537
Name: Bethnal Green, dtype: float64
Lat    51.399894
Lon     0.045326
Name: Bickley, dtype: float64
Lat    51.403715
Lon    -0.055520
Name: Birkbeck, dtype: float64
Lat    51.511268
Lon    -0.103349
Name: Blackfriars, dtype: float64
Lat    51.385017
Lon    -0.071033
Name: Blackhorse Lane, dtype: float64
Lat    51.586853
Lon    -0.041160
Name: Blackhorse Road, dtype: float64
Lat    51.508036
Lon    -0.006764
Name: Blackwall, dtype: float64
Lat    51.514054
Lon    -0.149039
Name: Bond Street, dtype: float64
Lat    51.500966
Lon    -0.093314
Name: Borough, dtype: float64
Lat    51.495720
Lon    -0.324628
Name: Boston Manor, dtype: float64
Lat    51.607039
Lon    -0.124437
Name: Bounds Green, dtype: float64
Lat    51.527748
Lon    -0.020886
Name: Bow Church, dtype: float64
Lat    51.527018
Lon    -0.024987
Name: Bow Road, dtype: float64
Lat    51.576737
Lon    -0.213383
Name: Brent Cross, dtype: float64
Lat    51.613669
Lon     0.299574
Name: Brentwood, dtype: float64
Lat    51.462555
Lon    -0.114572
Name: Brixton, dtype: float64
Lat    51.464160
Lon    -0.037706
Name: Brockley, dtype: float64
Lat    51.400060
Lon     0.017809
Name: Bromley South, dtype: float64
Lat    51.524499
Lon    -0.011569
Name: Bromley-by-Bow, dtype: float64
Lat    51.545190
Lon    -0.202294
Name: Brondesbury, dtype: float64
Lat    51.540696
Lon    -0.210034
Name: Brondesbury Park, dtype: float64
Lat    51.593910
Lon    -0.070061
Name: Bruce Grove, dtype: float64
Lat    51.626214
Lon     0.046724
Name: Buckhurst Hill, dtype: float64
Lat    51.523393
Lon    -0.646248
Name: Burnham, dtype: float64
Lat    51.602688
Lon    -0.263984
Name: Burnt Oak, dtype: float64
Lat    51.641557
Lon    -0.069234
Name: Bush Hill Park, dtype: float64
Lat    51.64584
Lon    -0.38505
Name: Bushey, dtype: float64
Lat    51.548648
Lon    -0.118350
Name: Caledonian Road, dtype: float64
Lat    51.543150
Lon    -0.115932
Name: Caledonian Road & Barnsbury, dtype: float64
Lat    51.532286
Lon    -0.057466
Name: Cambridge Heath, dtype: float64
Lat    51.541787
Lon    -0.138763
Name: Camden Road, dtype: float64
Lat    51.539316
Lon    -0.142499
Name: Camden Town, dtype: float64
Lat    51.497980
Lon    -0.049689
Name: Canada Water, dtype: float64
Lat    51.504953
Lon    -0.019423
Name: Canary Wharf, dtype: float64
Lat    51.514099
Lon     0.008329
Name: Canning Town, dtype: float64
Lat    51.511412
Lon    -0.090400
Name: Cannon Street, dtype: float64
Lat    51.548741
Lon    -0.092660
Name: Canonbury, dtype: float64
Lat    51.607724
Lon    -0.294737
Name: Canons Park, dtype: float64
Lat    51.62824
Lon    -0.38587
Name: Carpenders Park, dtype: float64
Lat    51.36845
Lon    -0.16681
Name: Carshalton, dtype: float64
Lat    51.444390
Lon    -0.026243
Name: Catford, dtype: float64
Lat    51.375933
Lon    -0.103643
Name: Centrale, dtype: float64
Lat    51.568099
Lon     0.129687
Name: Chadwell Heath, dtype: float64
Lat    51.667903
Lon    -0.560852
Name: Chalfont & Latimer, dtype: float64
Lat    51.544157
Lon    -0.153667
Name: Chalk Farm, dtype: float64
Lat    51.51823
Lon    -0.11170
Name: Chancery Lane, dtype: float64
Lat    51.508198
Lon    -0.125866
Name: Charing Cross, dtype: float64
Lat    51.486841
Lon     0.031213
Name: Charlton, dtype: float64
Lat    51.705327
Lon    -0.611177
Name: Chesham, dtype: float64
Lat    51.702807
Lon    -0.023626
Name: Cheshunt, dtype: float64
Lat    51.617752
Lon     0.074886
Name: Chigwell, dtype: float64
Lat    51.633360
Lon     0.010105
Name: Chingford, dtype: float64
Lat    51.494444
Lon    -0.267836
Name: Chiswick Park, dtype: float64
Lat    51.654086
Lon    -0.518534
Name: Chorleywood, dtype: float64
Lat    51.373933
Lon    -0.104927
Name: Church Street, dtype: float64
Lat    51.515035
Lon    -0.103648
Name: City Thameslink, dtype: float64
Lat    51.46181
Lon    -0.13808
Name: Clapham Common, dtype: float64
Lat    51.465340
Lon    -0.132073
Name: Clapham High Street, dtype: float64
Lat    51.464468
Lon    -0.169958
Name: Clapham Junction, dtype: float64
Lat    51.465242
Lon    -0.129695
Name: Clapham North, dtype: float64
Lat    51.452856
Lon    -0.147678
Name: Clapham South, dtype: float64
Lat    51.561716
Lon    -0.057042
Name: Clapton, dtype: float64
Lat    51.651551
Lon    -0.149567
Name: Cockfosters, dtype: float64
Lat    51.595396
Lon    -0.249824
Name: Colindale, dtype: float64
Lat    51.418185
Lon    -0.177998
Name: Colliers Wood, dtype: float64
Lat    51.359594
Lon    -0.058408
Name: Coombe Lane, dtype: float64
Lat    51.315850
Lon    -0.137903
Name: Coulsdon South, dtype: float64
Lat    51.513065
Lon    -0.124165
Name: Covent Garden, dtype: float64
Lat    51.558660
Lon    -0.212702
Name: Cricklewood, dtype: float64
Lat    51.454951
Lon    -0.036379
Name: Crofton Park, dtype: float64
Lat    51.495597
Lon    -0.014429
Name: Crossharbour, dtype: float64
Lat    51.571363
Lon    -0.117082
Name: Crouch Hill, dtype: float64
Lat    51.647083
Lon    -0.441293
Name: Croxley, dtype: float64
Lat    51.417602
Lon    -0.072501
Name: Crystal Palace, dtype: float64
Lat    51.509571
Lon     0.027104
Name: Custom House for ExCel, dtype: float64
Lat    51.481572
Lon    -0.010732
Name: Cutty Sark for Maritime Greenwich, dtype: float64
Lat    51.508498
Lon     0.064028
Name: Cyprus, dtype: float64
Lat    51.544163
Lon     0.165840
Name: Dagenham East, dtype: float64
Lat    51.541695
Lon     0.147220
Name: Dagenham Heathway, dtype: float64
Lat    51.545863
Lon    -0.075114
Name: Dalston Junction, dtype: float64
Lat    51.548278
Lon    -0.075950
Name: Dalston Kingsland, dtype: float64
Lat    51.447553
Lon     0.218200
Name: Dartford, dtype: float64
Lat    51.645266
Lon     0.084073
Name: Debden, dtype: float64
Lat    51.468178
Lon    -0.089435
Name: Denmark Hill, dtype: float64
Lat    51.478952
Lon    -0.026370
Name: Deptford, dtype: float64
Lat    51.474497
Lon    -0.022698
Name: Deptford Bridge, dtype: float64
Lat    51.522625
Lon    -0.017375
Name: Devons Road, dtype: float64
Lat    51.552147
Lon    -0.238885
Name: Dollis Hill, dtype: float64
Lat    51.417490
Lon    -0.207595
Name: Dundonald Road, dtype: float64
Lat    51.514918
Lon    -0.301678
Name: Ealing Broadway, dtype: float64
Lat    51.510168
Lon    -0.288125
Name: Ealing Common, dtype: float64
Lat    51.491565
Lon    -0.194003
Name: Earl's Court, dtype: float64
Lat    51.516673
Lon    -0.247567
Name: East Acton, dtype: float64
Lat    51.375368
Lon    -0.092928
Name: East Croydon, dtype: float64
Lat    51.587044
Lon    -0.164651
Name: East Finchley, dtype: float64
Lat    51.539249
Lon     0.051543
Name: East Ham, dtype: float64
Lat    51.509702
Lon    -0.002123
Name: East India, dtype: float64
Lat    51.459569
Lon    -0.210743
Name: East Putney, dtype: float64
Lat    51.576483
Lon    -0.397070
Name: Eastcote, dtype: float64
Lat    51.613640
Lon    -0.275399
Name: Edgware, dtype: float64
Lat    51.520092
Lon    -0.168721
Name: Edgware Road, dtype: float64
Lat    51.624820
Lon    -0.061364
Name: Edmonton Green, dtype: float64
Lat    51.495240
Lon    -0.100641
Name: Elephant & Castle, dtype: float64
Lat    51.549840
Lon     0.198756
Name: Elm Park, dtype: float64
Lat    51.398475
Lon    -0.049652
Name: Elmers End, dtype: float64
Lat    51.652926
Lon    -0.279898
Name: Elstree & Borehamwood, dtype: float64
Lat    51.468667
Lon    -0.017320
Name: Elverson Road, dtype: float64
Lat    51.507043
Lon    -0.122402
Name: Embankment, dtype: float64
Lat    51.568868
Lon     0.219975
Name: Emerson Park, dtype: float64
Lat    51.652238
Lon    -0.079358
Name: Enfield Town, dtype: float64
Lat    51.693672
Lon     0.113815
Name: Epping, dtype: float64
Lat    51.527918
Lon    -0.133323
Name: Euston, dtype: float64
Lat    51.525670
Lon    -0.135556
Name: Euston Square, dtype: float64
Lat    51.595748
Lon     0.090945
Name: Fairlop, dtype: float64
Lat    51.520335
Lon    -0.104535
Name: Farringdon, dtype: float64
Lat    51.351270
Lon    -0.024297
Name: Fieldway, dtype: float64
Lat    51.601276
Lon    -0.192730
Name: Finchley Central, dtype: float64
Lat    51.547043
Lon    -0.180016
Name: Finchley Road, dtype: float64
Lat    51.55009
Lon    -0.18335
Name: Finchley Road & Frognal, dtype: float64
Lat    51.564557
Lon    -0.106364
Name: Finsbury Park, dtype: float64
Lat    51.549397
Lon     0.024281
Name: Forest Gate, dtype: float64
Lat    51.439356
Lon    -0.053254
Name: Forest Hill, dtype: float64
Lat    51.480212
Lon    -0.195192
Name: Fulham Broadway, dtype: float64
Lat    51.508844
Lon     0.072094
Name: Gallions Reach, dtype: float64
Lat    51.576726
Lon     0.066217
Name: Gants Hill, dtype: float64
Lat    51.373895
Lon    -0.098760
Name: George Street, dtype: float64
Lat    51.581921
Lon     0.205807
Name: Gidea Park, dtype: float64
Lat    51.494317
Lon    -0.182901
Name: Gloucester Road, dtype: float64
Lat    51.572167
Lon    -0.194026
Name: Golders Green, dtype: float64
Lat    51.501959
Lon    -0.226857
Name: Goldhawk Road, dtype: float64
Lat    51.520655
Lon    -0.134468
Name: Goodge Street, dtype: float64
Lat    51.565569
Lon     0.110899
Name: Goodmayes, dtype: float64
Lat    51.555271
Lon    -0.151207
Name: Gospel Oak, dtype: float64
Lat    51.613348
Lon     0.092090
Name: Grange Hill, dtype: float64
Lat    51.354200
Lon    -0.041455
Name: Gravel Hill, dtype: float64
Lat    51.523789
Lon    -0.143797
Name: Great Portland Street, dtype: float64
Lat    51.506584
Lon    -0.142395
Name: Green Park, dtype: float64
Lat    51.542430
Lon    -0.345639
Name: Greenford, dtype: float64
Lat    51.478094
Lon    -0.014691
Name: Greenwich, dtype: float64
Lat    51.491678
Lon    -0.275112
Name: Gunnersbury, dtype: float64
Lat    51.377713
Lon    -0.153635
Name: Hackbridge, dtype: float64
Lat    51.547235
Lon    -0.056278
Name: Hackney Central, dtype: float64
Lat    51.548694
Lon    -0.060900
Name: Hackney Downs, dtype: float64
Lat    51.543210
Lon    -0.025264
Name: Hackney Wick, dtype: float64
Lat    51.538510
Lon    -0.075508
Name: Haggerston, dtype: float64
Lat    51.603799
Lon     0.093499
Name: Hainault, dtype: float64
Lat    51.492715
Lon    -0.224096
Name: Hammersmith, dtype: float64
Lat    51.556606
Lon    -0.178144
Name: Hampstead, dtype: float64
Lat    51.555330
Lon    -0.165347
Name: Hampstead Heath, dtype: float64
Lat    51.529745
Lon    -0.292638
Name: Hanger Lane, dtype: float64
Lat    51.512067
Lon    -0.338195
Name: Hanwell, dtype: float64
Lat    51.536229
Lon    -0.257504
Name: Harlesden, dtype: float64
Lat    51.593184
Lon     0.233469
Name: Harold Wood, dtype: float64
Lat    51.577240
Lon    -0.098485
Name: Harringay Green Lanes, dtype: float64
Lat    51.399475
Lon    -0.060380
Name: Harrington Road, dtype: float64
Lat    51.592282
Lon    -0.334934
Name: Harrow & Wealdstone, dtype: float64
Lat    51.579109
Lon    -0.336899
Name: Harrow-on-the-Hill, dtype: float64
Lat    51.609408
Lon    -0.368710
Name: Hatch End, dtype: float64
Lat    51.466758
Lon    -0.423133
Name: Hatton Cross, dtype: float64
Lat    51.425358
Lon    -0.189103
Name: Haydons Road, dtype: float64
Lat    51.503095
Lon    -0.420452
Name: Hayes & Harlington, dtype: float64
Lat    51.602544
Lon    -0.356809
Name: Headstone Lane, dtype: float64
Lat    51.459048
Lon    -0.446328
Name: Heathrow Terminal 4, dtype: float64
Lat    51.471876
Lon    -0.487773
Name: Heathrow Terminal 5, dtype: float64
Lat    51.471318
Lon    -0.453178
Name: Heathrow Terminals 2 & 3, dtype: float64
Lat    51.580161
Lon    -0.238781
Name: Hendon, dtype: float64
Lat    51.583212
Lon    -0.226687
Name: Hendon Central, dtype: float64
Lat    51.453117
Lon    -0.102167
Name: Herne Hill, dtype: float64
Lat    51.503212
Lon    -0.021360
Name: Heron Quays, dtype: float64
Lat    51.650480
Lon    -0.194494
Name: High Barnet, dtype: float64
Lat    51.500793
Lon    -0.192633
Name: High Street Kensington, dtype: float64
Lat    51.608404
Lon    -0.000371
Name: Highams Park, dtype: float64
Lat    51.546401
Lon    -0.103723
Name: Highbury & Islington, dtype: float64
Lat    51.577586
Lon    -0.145930
Name: Highgate, dtype: float64
Lat    51.553688
Lon    -0.449502
Name: Hillingdon, dtype: float64
Lat    51.517392
Lon    -0.119778
Name: Holborn, dtype: float64
Lat    51.507259
Lon    -0.205516
Name: Holland Park, dtype: float64
Lat    51.552757
Lon    -0.112913
Name: Holloway Road, dtype: float64
Lat    51.547058
Lon    -0.042650
Name: Homerton, dtype: float64
Lat    51.450094
Lon    -0.045470
Name: Honor Oak Park, dtype: float64
Lat    51.554115
Lon     0.218978
Name: Hornchurch, dtype: float64
Lat    51.471246
Lon    -0.366750
Name: Hounslow Central, dtype: float64
Lat    51.473367
Lon    -0.356518
Name: Hounslow East, dtype: float64
Lat    51.473260
Lon    -0.385782
Name: Hounslow West, dtype: float64
Lat    51.531238
Lon    -0.075702
Name: Hoxton, dtype: float64
Lat    51.503025
Lon    -0.152397
Name: Hyde Park Corner, dtype: float64
Lat    51.499857
Lon     0.007993
Name: IFS Cloud Greenwich Peninsula, dtype: float64
Lat    51.507725
Lon     0.017735
Name: IFS Cloud Royal Docks, dtype: float64
Lat    51.562337
Lon    -0.442674
Name: Ickenham, dtype: float64
Lat    51.558983
Lon     0.068764
Name: Ilford, dtype: float64
Lat    51.475160
Lon    -0.183037
Name: Imperial Wharf, dtype: float64
Lat    51.48750
Lon    -0.01028
Name: Island Gardens, dtype: float64
Lat    51.50851
Lon    -0.50661
Name: Iver, dtype: float64
Lat    51.488296
Lon    -0.105729
Name: Kennington, dtype: float64
Lat    51.530387
Lon    -0.224878
Name: Kensal Green, dtype: float64
Lat    51.534456
Lon    -0.219821
Name: Kensal Rise, dtype: float64
Lat    51.497625
Lon    -0.209842
Name: Kensington (Olympia), dtype: float64
Lat    51.550509
Lon    -0.140404
Name: Kentish Town, dtype: float64
Lat    51.546606
Lon    -0.146676
Name: Kentish Town West, dtype: float64
Lat    51.581776
Lon    -0.317047
Name: Kenton, dtype: float64
Lat    51.477104
Lon    -0.285268
Name: Kew Gardens, dtype: float64
Lat    51.547013
Lon    -0.204258
Name: Kilburn, dtype: float64
Lat    51.537590
Lon    -0.192128
Name: Kilburn High Road, dtype: float64
Lat    51.535088
Lon    -0.193804
Name: Kilburn Park, dtype: float64
Lat    51.501898
Lon     0.062044
Name: King George V, dtype: float64
Lat    51.345595
Lon    -0.020473
Name: King Henry's Drive, dtype: float64
Lat    51.531030
Lon    -0.124376
Name: King's Cross St Pancras, dtype: float64
Lat    51.584793
Lon    -0.278678
Name: Kingsbury, dtype: float64
Lat    51.501239
Lon    -0.161090
Name: Knightsbridge, dtype: float64
Lat    51.517358
Lon    -0.210417
Name: Ladbroke Grove, dtype: float64
Lat    51.498818
Lon    -0.111992
Name: Lambeth North, dtype: float64
Lat    51.511762
Lon    -0.175168
Name: Lancaster Gate, dtype: float64
Lat    51.515060
Lon    -0.014281
Name: Langdon Park, dtype: float64
Lat    51.507920
Lon    -0.542139
Name: Langley, dtype: float64
Lat    51.513545
Lon    -0.217732
Name: Latimer Road, dtype: float64
Lat    51.375150
Lon    -0.084703
Name: Lebanon Road, dtype: float64
Lat    51.511575
Lon    -0.128174
Name: Leicester Square, dtype: float64
Lat    51.464737
Lon    -0.012900
Name: Lewisham, dtype: float64
Lat    51.556675
Lon    -0.005502
Name: Leyton, dtype: float64
Lat    51.569679
Lon    -0.007806
Name: Leyton Midland Road, dtype: float64
Lat    51.568349
Lon     0.008246
Name: Leytonstone, dtype: float64
Lat    51.563507
Lon     0.008447
Name: Leytonstone High Road, dtype: float64
Lat    51.512477
Lon    -0.039860
Name: Limehouse, dtype: float64
Lat    51.517710
Lon    -0.081955
Name: Liverpool Street, dtype: float64
Lat    51.36422
Lon    -0.08212
Name: Lloyd Park, dtype: float64
Lat    51.505437
Lon    -0.087018
Name: London Bridge, dtype: float64
Lat    51.50323
Lon     0.04952
Name: London City Airport, dtype: float64
Lat    51.541274
Lon    -0.057930
Name: London Fields, dtype: float64
Lat    51.466108
Lon    -0.102212
Name: Loughborough Junction, dtype: float64
Lat    51.641426
Lon     0.055432
Name: Loughton, dtype: float64
Lat    51.529790
Lon    -0.185748
Name: Maida Vale, dtype: float64
Lat    51.518538
Lon    -0.722533
Name: Maidenhead, dtype: float64
Lat    51.570783
Lon    -0.095845
Name: Manor House, dtype: float64
Lat    51.552339
Lon     0.046013
Name: Manor Park, dtype: float64
Lat    51.512118
Lon    -0.094297
Name: Mansion House, dtype: float64
Lat    51.512663
Lon    -0.158606
Name: Marble Arch, dtype: float64
Lat    51.546126
Lon     0.005826
Name: Maryland, dtype: float64
Lat    51.522260
Lon    -0.162951
Name: Marylebone, dtype: float64
Lat    51.482766
Lon     0.003054
Name: Maze Hill, dtype: float64
Lat    51.41435
Lon    -0.20169
Name: Merton Park, dtype: float64
Lat    51.525153
Lon    -0.033581
Name: Mile End, dtype: float64
Lat    51.613247
Lon    -0.249316
Name: Mill Hill Broadway, dtype: float64
Lat    51.608268
Lon    -0.209898
Name: Mill Hill East, dtype: float64
Lat    51.397600
Lon    -0.172653
Name: Mitcham, dtype: float64
Lat    51.407770
Lon    -0.154651
Name: Mitcham Eastfields, dtype: float64
Lat    51.393107
Lon    -0.158030
Name: Mitcham Junction, dtype: float64
Lat    51.510787
Lon    -0.086489
Name: Monument, dtype: float64
Lat    51.629781
Lon    -0.432074
Name: Moor Park, dtype: float64
Lat    51.518381
Lon    -0.088470
Name: Moorgate, dtype: float64